@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Roboto:wght@200;300;400;500;600;800&display=swap');

/*
** CSS-styled Scrollbars for IE & Webkit browsers
** Dark theme by default.
**
*/

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4dacff; /* --color-background-interactive-muted #2B659B */
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* visually "centers" because the dark edge of the shadow gives the illusion this is offset */
::-webkit-scrollbar-thumb:vertical {
  border-left-width: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 4px;
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: #92cbff;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #1b2d3e;
}

::-webkit-scrollbar-track:vertical {
  box-shadow: inset 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 1px 3px 3px 0px rgba(0, 0, 0, 0.5);
}
